{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>About | Stregasoft</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.png' %}" />
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style1.css' %}" />
    <style>
        .swiper-container {
            width: 650px;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            width: 75%;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>

</head>

<body class="homepage04">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!--  HEADER AREA -->
    <header id="header" class="header-area header-area04">
        <div class="container custom-container02">
            <nav class="menu-area d-flex align-items-center">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo/logo03.png' %}" alt="{% trans 'brandLogo' %}" class="logo-04" />
                    </a>
                </div>
                <ul class="main-menu d-flex align-items-center">
                    <li>
                        <a  href="{% url 'index' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}">{% trans 'Services' %}</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'webservices' %}">{% trans 'Web Services' %}</a></li>
                            <li><a href="{% url 'crmservices' %}">{% trans 'CRM Services' %}</a></li>
                            <li><a href="{% url 'chatbotservices' %}">{% trans 'Chatbot Services' %}</a></li>
                            <li><a href="{% url 'itservices' %}">{% trans 'IT Services' %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="active" href="{% url 'about' %}">{% trans 'About' %}</a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0)">{% trans 'Portfolio' %}</a>
                        <ul class="sub-menu">
                            <li><a href="project.html">{% trans 'Project' %}</a></li>
                            <li>
                                <a href="project-details.html">{% trans 'Project Detail' %}</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="{% url 'blog_list' %}">{% trans 'Blog' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                    </li>
                </ul>
    
                <div class="right-content ml-auto">
                    <div class="social-icon">
                        <a href="https://www.facebook.com/stregasoft"><img src="{% static 'img/icon/facebook-f.svg' %}" alt="{% trans 'facebook' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                        <a href="https://www.instagram.com/stregasoft"><img src="{% static 'img/icon/instagram.svg' %}" alt="{% trans 'instagram' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                        <a href="https://www.linkedin.com/company/stregasoft"><img src="{% static 'img/icon/linkedin-in.svg' %}" alt="{% trans 'linkedin' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                        <a href="https://www.youtube.com/@stregasoft"><img src="{% static 'img/icon/youtube.svg' %}" alt="{% trans 'youtube' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                    </div>
                    <!-- Verifica si el usuario está autenticado -->
                    {% if user.is_authenticated %}
                        <!-- Usuario está autenticado -->
                        <div class="social-icon1">
                            <a href="{% url 'dashboard' %}"><img src="{% static 'img/avatar/account.png' %}" alt="{% trans 'account' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                        </div>
                    {% else %}
                        <!-- Usuario no está autenticado -->
                        <div class="social-icon1">
                            <a href="{% url 'login' %}"><img src="{% static 'img/avatar/account.png' %}" alt="{% trans 'account' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="lang-menu">
                    <div class="selected-lang">
                        <a href="#" id="globe-btn"><img src="{% static 'img/avatar/globe.png' %}" style="height: 30px; align-items: center;" alt="{% trans 'Language Selector' %}"></a>
                    </div>
                    <ul id="lang-list">
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.path }}">
                                <input name="language" type="hidden" value="es">
                                <button type="submit">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSRVRdUmc2ieu8m1t95LYvaSkxr0eRJ2kPw&s" alt="{% trans 'Flag of Spain' %}" style="width: 20px; height: 15px; margin-right: 5px;">
                                    {% trans 'ESP' %}
                                </button>
                            </form>
                        </li>
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.path }}">
                                <input name="language" type="hidden" value="en">
                                <button type="submit">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png" alt="{% trans 'Flag of UK' %}" style="width: 20px; height: 15px; margin-right: 5px;">
                                    {% trans 'ENG' %}
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                
                <div class="hamburger-menu"><span></span><span></span><span></span></div>
            </nav>
            <aside>
                <div class="sidebar-menu">
                    <div class="close-sidebar"><span></span><span></span></div>
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logo/logo08.png' %}" alt="{% trans 'logo' %}" />
                        </a>
                    </div>
                    <ul class="main-menu">
                        <li>
                            <a class="active" href="{% url 'index' %}">{% trans 'Home' %}</a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">{% trans 'Services' %} <span class="arrow">&#9662;</span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'services' %}">{% trans 'Our Services' %}</a></li>
                                <li><a href="{% url 'webservices' %}">{% trans 'Web Services' %}</a></li>
                                <li><a href="{% url 'crmservices' %}">{% trans 'CRM Services' %}</a></li>
                                <li><a href="{% url 'chatbotservices' %}">{% trans 'Chatbot Services' %}</a></li>
                                <li><a href="{% url 'itservices' %}">{% trans 'IT Services' %}</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
                        <li><a href="{% url 'blog_list' %}">{% trans 'Blog' %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact Us' %}</a></li>
                        
                        <!-- Icono de cuentas en el menú móvil -->
                        <li class="social-icon1">
                            {% if user.is_authenticated %}
                                <a href="{% url 'dashboard' %}"><img src="{% static 'img/avatar/account.png' %}" alt="{% trans 'account' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                            {% else %}
                                <a href="{% url 'login' %}"><img src="{% static 'img/avatar/account.png' %}" alt="{% trans 'account' %}" style="height: 20px; vertical-align: middle; border: none;"></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                
                <div class="overlay"></div>
            </aside>
        </div>
    </header>
    <main>
            <!--  BREADCRUMB AREA -->

            <div class="banner46">
                <div class="banner-overlay46" style="background-image: url({% static '/img/about/about.webp' %});">
                    <div class="content46" data-aos="fade">
                        <img src="{% static '/img/logo/logo05.png' %}" alt="Logo" class="logo46">
                        <h1>{% trans "About Us" %}</h1>
                        <p>{% trans "Stregasoft is your versatile technology partner, delivering top-notch software solutions and IT services. We're dedicated to enhancing your experience through innovation and consistently exceeding market expectations. Learn more on our blog." %}</p>
                        <button class="blog-button46" onclick="location.href='{% url 'blog_list' %}'">Blog</button>
                    </div>
                </div>
            </div>
            
            <div class="banner45">
                <div class="banner45-section">
                    <div class="banner45-mission" data-aos="fade">
                        <h2 id="mission" class="banner45-title">{% trans "Our Mission" %}</h2>
                        <img src="{% static '/img/services/improve copy.svg' %}" alt="{% trans "Mission Image" %}" class="banner45-image">
                        <button class="banner45-button"><i class="arrow-down"></i></button>
                    </div>
                    <div class="banner45-mission-text">
                        <p>{% trans "At Stregasoft, we aim to empower entrepreneurs by providing seamless access to innovative technological solutions that enhance their business operations and daily life. We are dedicated to simplifying technology integration, enabling our clients to achieve their goals with ease and efficiency. Our commitment is to deliver tailored, high-quality solutions that drive growth and success." %}</p>
                    </div>
                </div>
                <div class="banner45-section">
                    <div class="banner45-vision" data-aos="fade">
                        <h2 class="banner45-title">{% trans "Our Vision" %}</h2>
                        <img src="{% static '/img/services/robot.svg' %}" alt="{% trans "Vision Image" %}" class="banner45-image">
                        <button class="banner45-button"><i class="arrow-down"></i></button>
                    </div>
                    <div class="banner45-vision-text">
                        <p>{% trans "Our vision is to drive the digital transformation throughout Latin America by harnessing the expertise of our exceptional team. By driving progress and delivering innovative solutions, we aim to empower businesses and communities to excel in a dynamic and evolving digital landscape, ultimately fostering sustainable growth and success across the region." %}</p>
                    </div>
                </div>
            </div>
            
            <div class="banner48" style="background-image: url({% static '/img/about/about.webp' %});">
                <div class="banner48-content" data-aos="fade-up">
                    <div class="title-section">
                        <h2>{% trans "Our Core Values" %}</h2>
                        <img src="{% static '/img/about/Handshake_Stregasoft_Transparent.svg' %}" alt="{% trans "Handshake Icon" %}" class="handshake-icon">
                    </div>
                    <div class="card-grid">
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/light.svg' %}" alt="{% trans "Innovation" %}">
                                <p>{% trans "Innovation" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "We embrace innovation as the cornerstone of our solutions, fostering creative thinking and continuously seeking new and improved ways to serve our clients." %}</p>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/sketch.svg' %}" alt="{% trans "Excellence" %}">
                                <p>{% trans "Excellence" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "Excellence is our goal. We are dedicated to consistently delivering high-quality services and continuously improving to surpass market expectations." %}</p>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/medal.svg' %}" alt="{% trans "Integrity" %}">
                                <p>{% trans "Integrity" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "We uphold the highest ethical standards, ensuring transparency, honesty, and trust in all our interactions. Our integrity is unwavering." %}</p>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/user.svg' %}" alt="{% trans "Collaboration" %}">
                                <p>{% trans "Collaboration" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "We value collaborative relationships with our clients, employees, and stakeholders. We believe in the power of strong partnerships to drive mutual success." %}</p>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/hammer-brush.svg' %}" alt="{% trans "Dedication" %}">
                                <p>{% trans "Dedication" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "Our team is committed to the success of both our clients and our company. We consistently go the extra mile, with our dedication serving as the foundation of our achievements." %}</p>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon-container">
                                <img src="{% static '/img/about/setting.svg' %}" alt="{% trans "Adaptability" %}">
                                <p>{% trans "Adaptability" %}</p>
                            </div>
                            <div class="hover-text">
                                <p>{% trans "In a constantly evolving technological landscape, we stay agile and adaptable, embracing changes with flexibility and resilience." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
     <!--  FOOTER AREA -->
     <footer class="footer03">
        <div class="footer-area">
            <div class="container">
                <div class="row align-items-lg-baseline">
                    <div class="col-lg-4 col-md-12 order-lg-0 order-4">
                        <div class="footer-area-about" data-aos="fade-up">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo/logo03.png' %}" alt="{% trans 'Logo' %}" class="img-fluid" />
                            </a>
    
                            <div class="footer-area-links">
                                <a href="javascript:void(0)" onclick="goToURL('https://www.facebook.com/stregasoft')"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0)" onclick="goToURL('https://www.instagram.com/stregasoft')"><i class="fab fa-instagram"></i></a>
                                <a href="javascript:void(0)" onclick="goToURL('https://www.linkedin.com/company/stregasoft/')"><i class="fab fa-linkedin-in"></i></a>
                                <a href="javascript:void(0)" onclick="goToURL('https://www.youtube.com/@stregasoft')"><i class="fab fa-youtube"></i></a>
                                <a href="javascript:void(0)" onclick="goToURL('https://www.tiktok.com/@stregasoft')"><i class="fab fa-tiktok"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 mr-lg-65 col-md-4 col-6 order-lg-0 order-md-1">
                        <div class="footer-area-lists mb-30" data-aos="fade-up" data-aos-delay="300">
                            <h4>{% trans "Company" %}</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                                <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
                                <li><a href="{% url 'blog_list' %}">{% trans "Blog" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 mr-lg-65 col-md-4 col-6 order-lg-0 order-2">
                        <div class="footer-area-lists mb-30" data-aos="fade-up" data-aos-delay="400">
                            <h4>{% trans "Services" %}</h4>
                            <ul>
                                <li><a href="{% url 'webservices' %}">{% trans "Web Services" %}</a></li>
                                <li><a href="{% url 'crmservices' %}">{% trans "CRM Services" %}</a></li>
                                <li><a href="{% url 'chatbotservices' %}">{% trans "Chatbot Services" %}</a></li>
                                <li><a href="{% url 'itservices' %}">{% trans "IT Services" %}</a></li>
                            </ul>                        
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 order-lg-0 order-md-3">
                        <div class="footer-area-lists" data-aos="fade-up" data-aos-delay="500">
                            <h4>{% trans "Legal" %}</h4>
                            <ul>
                                <li><a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a></li>
                                <li><a href="{% url 'terms' %}">{% trans "Terms & Conditions" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row align-items-center copyright-area">
                    <div class="col-sm-12 d-flex justify-content-between align-items-center">
                        <div class="copyright-area-text">
                            <p class="text-white">{% trans "© Stregasoft 2024" %}</p>
                        </div>
                        <div class="copyright-area-top text-lg-right">
                            <a class="text-white" href="#header" id="to-top">{% trans "Back to Top" %} <i class="fas fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        
        <!-- JS here -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
        function goToURL(url) {
            window.open(url, '_blank');
        }
        </script>
        
        <!-- Purchase Button -->
        </body>
        </html>
        